*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
}
html{
	height: 100%;
}
.flex,.btn{
	display: flex;
	justify-content: center;
	align-items: center;
}
.size{
	position: relative;
	top: 2rem;
	width: 1000px;
	max-width: 100%;
	height: auto;
	padding: 10px 20px;
	border: 2px solid black;
}
.fname,.mname,.lname{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}
input[type=text],select{
	position: relative;
	width: 250px;
	max-width: 100%;
	padding: 7px 20px;
	font-size: 17px;
}
input[type=date]{
	width: 200px;
	font-size: 18px;
}
.date{
	float: right;
}
.flex_box{
	width: auto;
}
.inner_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: wrap;
}

button{
	margin: 10px 0px;
	width: 250px;
	max-width: 100%;
	padding: 6px 20px;
}