*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	width: 100%;
}
#color{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #131949;
	/*line-height: 20px;*/
	padding: 10px;
}
.list_att ul li{
	display: inline-block;
	margin: 0px 10px;
	list-style-type: none;
}
.list_att ul li span{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}
.list_att ul li img{
	vertical-align: middle;
}
.list_att img{
	vertical-align: middle;
}
.head{
	padding: 20px 0px;
	width: 100%;
	background-color: #ebdddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	margin-left: 20px;
}
#bar{
	display: none;	
}
.list ul li{
	margin: 0px 30px;
	list-style-type: none;
	display: inline-block;

}
.list ul li a{
	font-family: 'Open Sans', sans-serif;
	color: #544343;
	font-size: 20px;
	text-decoration: none;
}