.content{
	position: relative;
	top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-size{
	width: 1400px;
	border: 1px solid black;
	margin: 0px 10px;
	/*height: 300px;*/
	height: auto;
	padding: 5px 20px;
	border-radius: 5px;
}
.box-content{
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*flex-flow: wrap;*/
}
.calendar{
	width: 400px;
	max-width: 100%;
	height: auto;
	padding: 10px 20px;
}
.profile{
	margin: 0px 10px;
}
.none{
	display: none;
}
.none.show{
	display: block;
}